<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head') %>
</head>

<body>
  <%- include('./partials/_header') %>


    <section class="blog section" id="blog">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>Recent Posts</h2>
          </div>
        </div>

        <!-- row -->
        <div class="row">
          <% for( let i=0; i < articles.length; i++ ) { %>
            <div class="blog-item padd-15">
              <div class="blog-item-inner">
                <div class="blog-img shine">
                  <% if (articles[i].postImage) { %>
                    <img src="/files/display/<%= articles[i].postImage %>" alt="Blog">
                    <% } %>
                      <img
                        src="Photo by Pixabay from Pexels: https://www.pexels.com/photo/blog-icon-information-internet-262508/"
                        alt="Blog">
                      <div class="blog-date">
                        <%= articles[i].createdAt.toDateString() %>
                      </div>
                </div>
                <div class="blog-info">
                  <h4 class="blog-title">
                    <%= articles[i].title %>
                  </h4>
                  <p class="blog-description">
                    <%= articles[i].description %>
                  </p>
                  <!-- <p class="blog-tags">Tags :
                    <% articles[i].keywords.forEach(tag => { %>
                    <a href="/"><%= tag %> </a>
                    <% }) %>
                  </p> -->
                  <a href="/articles/<%= articles[i].slug %> " class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
            <% } %>
        </div>
        <!-- row -->

      </div>
    </section>

    <footer class="footer text-center">
      <%- include('./partials/_footer') %>
    </footer>
</body>

</html>