<div class="form-group mb-2">
    <label for="postImage">Upload Image</label>
    <input required value="<%= article.postImage  %>" type="file" class="form-control" id="title" name="postImage" />
</div>
<div class="form-group mb-2">
    <label for="title">Title</label>
    <input required value="<%= article.title  %>" type="text" class="form-control" id="title" name="title"
        placeholder="Enter title" />
</div>

<div class="form-group mb-2">
    <label for="subtitle">Subtitle</label>
    <input required value="<%= article.subtitle  %>" type="text" class="form-control" id="subtitle" name="subtitle"
        placeholder="Enter subtitle" />
</div>

<div class="form-group mb-2">
    <label for="description">Description</label>
    <textarea required class="form-control" id="description" name="description" rows="3"><%= article.description  %>
    </textarea>
</div>

<div class="form-group mb-2">
    <label for="author">Author Name</label>
    <input required value="<%= article.author %>" type="text" class="form-control" id="author" name="author"
        placeholder="Enter title" />
</div>

<div class="form-group mb-2">
    <label for="keywords">Tags</label>
    <input required value="<%= article.keywords %>" type="text" class="form-control" id="keywords" name="keywords"
        placeholder="Enter keywords" />
</div>

<div class="form-group mb-2">
    <label for="markdown">Markdown</label>
    <textarea required value="<%= article.markdown  %>" class="form-control" id="markdown" name="markdown"
        rows="15"><%= article.markdown  %></textarea>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary d-inline">Submit</button>
    <button href="/articles" class="btn btn-danger d-inline">Cancel</button>
</div>